*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: red;
}
p{
    text-align: center;
    padding: 20px;
    border: 2px solid red;
    margin: 15px;
}